---

---

<header class="header">
  <div class="logo">
    <a href="/">
      <img
        src="https://stellaralgo.com/wp-content/themes/wp-stellaralgo/assets/images/logo-white.svg"
        alt="StellarAlgo"
        loading="eager"
        fetchpriority="high"
        decoding="async"
      /></a
    >
  </div>

  <nav class="menu">
    <ul>
      <a href="https://stellaralgo.com/">Main</a>
    </ul>
  </nav>
</header>

<style></style>
