---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.tsx";
---

<Layout title="StellarAlgo Test Assessment">
  <main>
    <h1>
      <span class="text-gradient">StellarAlgo</span> Test Assessment
    </h1>

    <ul role="list" class="link-card-grid">
      <Card
        href="parquet/total/price"
        title="Question 1"
        body="Get total price of tickets bought on a specific day for each of the 2 events"
        q1={true}
      />
      <Card
        href="parquet/total/tickets"
        title="Question 2"
        body="The Number of tickets purchased for each ticket type for each of the games respectively"
      />
      <Card
        href="parquet/total/purchase"
        title="Question 3"
        body="First Name that purchased the highest total dollar amount of tickets"
      />
      <Card
        href="parquet/highest/totalName"
        title="Question 4"
        body="First Name that purchased the highest number of total tickets"
      />
      <Card
        href="parquet/highest/ticketsName"
        title="Question 5"
        body="Total purchase price for each ticket type for each game"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0;
  }
</style>
